@tailwind components;

@layer components {
  .button {
    @apply inline-block no-underline text-center align-middle text-lg w-[200px] font-bold leading-4 tracking-[0.1px] cursor-pointer px-3 py-2 rounded-lg;
    white-space: wrap;
    outline: none;
  }
  .button:focus {
    @apply text-[#212121] border-[#888];
    outline: #7ab8ff solid 3px;
  }
  .button.button-primary {
    @apply text-white brightness-[90%];
  }
  .button.button-primary:hover,
  .button.button-primary:focus {
    @apply text-white brightness-[90%];
  }

  /* Brand Icons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .icon {
    @apply align-middle w-5 h-5 pl-0 pr-2 pt-0 pb-[3.5px];
  }

  /* Discord */
  .button.button-discord {
    color: #ffffff;
    background-color: #5865f2;
  }
  .button.button-discord:hover,
  .button.button-discord:focus {
    filter: brightness(90%);
  }
}
